* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: inherit;

}
.size1{
  font-size: 20px;
}
.size2{
  font-size: 16px;
}
.txtsize{
  font-size: 14px;
}
a{
  padding: 0;
  border: none;
  margin: 0;
}
/* .circle-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
} */

html {
    box-sizing: border-box;

}


hr {
    border: 1px solid #f0f0f5;
    border-radius: 0px;
}
.login-hover {
    display: none;
    position: absolute;
    top: 52px;
    right: 40px;
    font-weight: 700;
    background-color: #e6e6e6;
    border: 2px solid #f0f0f5;
    border-bottom: 3px solid black;
    z-index: 3;
    height: 134px;
  }

  .user-profile {
    cursor: pointer;
  }

  .login-hover > ul {
    list-style: none;
    text-align: center;
  }

  .login-hover > ul > li {
    margin: 12px 20px;
    cursor: pointer;
    font-size: 13px;
    color: #17253d;
  }

  /* .user-profile:hover + .login-hover , .login-hover:hover {

display: block;
cursor: pointer;
} */

  .pop-up-register {
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(184, 187, 217, 0.8); */
    left: 0;
    top: 0;
    overflow: hidden;
    /* display: none; */
    /* z-index: 1000; */
  }

  .pop-up-register-show {
    display: block;
  }

  #pop-up .pop-up-register-form-div {
    position: absolute;
    width: 500px;
    height: 420px;
    background-color: #fff;
    /* z-index: 2000; */
    left: 50%;
    padding: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b8bbd9;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(184, 173, 173, 0.5);
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    opacity: 1;
  }

  #pop-up .pop-up-register-form-div > h2 {
    text-align: center;
  }

  form {
    padding: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  

  input[type="email"],
  input[type="phone"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  .otp-container {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .otp-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .terms-container input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .terms-container label {
    font-size: 14px;
    margin-bottom: 20px;
    color: #d3d3d3;
  }

  .resend-otp {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .resend-otp > a:hover {
    text-decoration: underline;
    color: #14bef0;
  }

  .terms-and-resend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 30px;

    visibility: hidden;
  }

  /* body{

padding-left: 40px;
padding-right: 40px;
} */

  header {
    position: sticky;
    top: 0;
    background-color: #fff;
    /* padding-top: 20px; */

    z-index: 3000;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar {
    display: flex;

    justify-content: space-between;

align-content: center;

    /* padding-bottom: 20px; */
  }

  .login-signup-button {
    font-size: 13px;
    line-height: 13px;
    color: #737382 !important;
    border-radius: 4px;
    border: solid 1px #d3d3d3;
    padding: 8px 10px;
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
  }

  .login-signup-button:hover {
    color: #007bff !important;
    border: solid 1px #007bff;
  }

  hr {
    border: 1px solid #f0f0f5;
    border-radius: 0px;
  }

.logoImage{
  height: 44px;
  width: 100px;
  margin-bottom: -3px;
}
.anchorLogo{
  align-self: center;
}

  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-bottom: 16px;
    padding-top: 16px;

  }

  .logo-container > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .logo-container > ul > li {
    padding-left: 20px;
  }

  .logo-container > ul > li > a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #2d2d32;
    letter-spacing: -0.3px;
  }

  .logo-container > img {
    height: 23px;
    width: 100px;
  }

  .menu-container {
    display: flex;
    padding-bottom: 13.5px;
    padding-top: 13.5px;
  }

  .menu-container-parent {
    display: flex;
  }

  .corporates-dropdown {
    display: flex;
    /* justify-content: flex-end; */
    flex-shrink: 1;
  }

  .corporates-dropdown > select {
    font-size: 0.8em;
    border: transparent;
    cursor: pointer;

    width: 72%;
  }

  .corporates-dropdown > select:focus {
    outline: none;
  }

  .providers-container {
    display: flex;
    justify-content: flex-start;
  }

  .providers-container > select {
    font-size: 0.8em;
    border: transparent;
    cursor: pointer;
    width: 60%;
  }

  .providers-container > select:focus {
    outline: none;
  }

  .security-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 25px;
  }

  .security-container > select {
    font-size: 0.8em;
    border: transparent;
    cursor: pointer;
  }

  .security-container > select:focus {
    outline: none;
  }
  .corporates-container{
    display: flex;
  }

  .New {
    background: #28328c;
    color: white;
    border-radius: 8px;
    padding: 4px 6px 4px 6px;
    font-size: 10px;
    align-self: center;
    margin-right: 4px;
    margin-top: 0px;
  }
  .hamburger {
    display: none;
  }

  /* Mega Menu */

  .mega-menu {
    
    display: flex;
    gap: 120px;
    /* Adjust the gap between columns as needed */
    padding: 20px;
    justify-content: center;
    z-index: 500000;
   
  }

  .mega-menu-column > ul > li {
    list-style: none;
    padding: 20px;
  }

  .mega-menu-column{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu-section {
    display: none;
    /* position: absolute; */
    position: fixed;
    top: 52px;
    width: 1278px;
    height: 300px;
    background-color: #ffffff;
    z-index: 6000000;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.45);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .menu-section:hover {
    display: block;
  }

  .item1-submenu {
    position: absolute;
    top: 10px;
    left: 286px;
    height: 290px;
    width: 750px;
    background-color: #f0f0f5;
    /* background-color: #007BFF; */
    z-index: 10000;
    display: none;
    padding: 10px;
    text-align: center;
  }

  .item1-submenu > ul {
    list-style: none;
  }

  .item1-submenu > ul > li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #787887;
  }

  .item1-submenu:hover {
    display: block;
  }

  .item2-submenu {
    position: absolute;
    top: 10px;
    left: 286px;
    height: 290px;
    width: 710px;
    background-color: #f0f0f5;
    /* background-color: #007BFF; */
    z-index: 10000;
    display: none;
    padding: 10px;
    text-align: center;
  }

  .item2-submenu > ul {
    list-style: none;
  }

  .item2-submenu > ul > li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #787887;
  }

  .item2-submenu:hover {
    display: block;
  }

  .item3-submenu {
    position: absolute;
    top: 10px;
    left: 286px;
    height: 290px;
    width: 710px;
    background-color: #f0f0f5;
    /* background-color: #007BFF; */
    z-index: 10000;
    display: none;
    padding: 10px;
    text-align: center;
  }

  .item3-submenu > ul {
    list-style: none;
  }

  .item3-submenu > ul > li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #787887;
  }

  .item3-submenu:hover {
    display: block;
  }

  .row {
    display: flex;
    gap: 60px;
  }

  .mega-menu-column > hr {
    /* border: 2px solid red; */
    border: 1px solid #14bef0;
    border-radius: 0px;
  }

  .mega-menu-column > ul > li {
    border-bottom: 1px solid #787887;
  }

  .mega-menu-column > h3 {
    padding-bottom: 10px;
    color: #2d2d32;
  }






.submenu-header-div{
  display: flex;
  gap: 15px;
  margin-top: 20px;
  
}

.submenu-header-image{
  height: 60px;
  width: 60px;
  /* border-radius: 50%; */
  object-fit: cover;
}




.submenu-header-right-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 100%; */
}

.submenu-header-right-div>h3{
  color: #2d2d32;
}

.submenu-header-right-div>p{
  color: #2d2d32;
}





.corporates-container {
    display: flex;
    justify-content: center;
   
}

/* Header Ends */

/* Astrologer list */

.astrologer-list{
    width: 1282px;
    /* height: 90vh; */
    display: flex;
    margin-left:auto;
    margin-right: auto;
}
.astrologer-filter-div {
  max-width: 400px; /* Set a maximum width */
  margin: 20px auto; /* Center it horizontally with auto margins */
  padding: 20px; /* Add some padding inside the div */
  background-color: white; /* Set background color */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .2);/* Light box shadow */
  text-align: center; /* Center text inside the div */
  /* border: 1px solid rgba(0, 0, 0, 0.1); Light border around the entire div */
  color: #616161;
}

.expertise-section, .expertise-section1 {
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
  margin: 0px 0; /* Add spacing around sections */
  padding: 10px; /* Add padding for better spacing */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Light border for each expertise section */
  border-radius: 5px; /* Optional: Rounded corners for sections */
  transition: background-color 0.3s; /* Smooth transition for background on hover */
}

.expertise-section:hover, .expertise-section1:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Light background change on hover */
}






.astrologer-item-list{
    width: 80%;
    /* background-color: #2d2d32; */
}



/* Desktop Astrologer details */

.astrologer-details{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* overflow-x: scroll; */
    margin: 20px auto;
    /* max-width: 1260px; */

}
.astrologer-image-section{
    display: flex;
    /* gap: 20px; */
}

.astrologer-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}




.availability-dot{
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: #2d2d32;
}

.onlineImage{
    height: 40px;
    width: 40px;
    background-color: transparent;
    z-index: -1;
    transform: scaleX(-1);
}

.availability-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 2px;
    margin-left: -16.5px;
   
}


.availability-text{
    color: #616161;
}

.astrologer-name{
    color: #286851;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: Tenor Sans, sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .15px;
    text-transform: capitalize;
    
}





.astrologer-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    height: 300px;
    width: 300px;
    /* background-color: #e7e6e6; */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .2);
}






.greeting{
    margin-top: 4px;
    color: #424242;
    /* margin-bottom: 10px; */
    font-size: 14px;
}

.astrologer-rating{
    display: flex;
    gap: 5px;
    /* font-family: Outfit, sans-serif; */
    font-size: 14px;
    font-weight: 550;
    color: #424242;
    line-height: 24px;
    letter-spacing: .5px;
}



.star-rating {
    display: flex;
    direction: row;
}

.star {
    font-size: 1rem;
    color: rgb(250, 175, 0);
    /* margin: 0 -1px; */
    cursor: pointer;
    transition: color 0.3s;
    text-align: left;
    /* border: 1px solid rgb(250, 175, 0) ; */
}

.star:hover,
.star:hover ~ .star {
    color: rgb(250, 175, 0);
}


.astrologer-details-section{
    display: flex;
    /* gap: 0; */
}

.detail-item{
    background-color: #ebe2ef;
    font-weight: 500;
    color: #7c3a99;
    line-height: 1;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
    line-height: 18px;
    font-family: Outfit, sans-serif;
    padding: 10px 15px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 90% 50%, 100% 80%, 100% 100%, 0 100%);
font-weight: 700;
}



.detail-item2{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: .5px;
    color: #212121;
    text-decoration: line-through;
}


.astrologer-actions{
    display: flex;
    gap: 48px;
    margin-top: 8px;
    /* justify-content: space-between; */
}



.call-button{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
    color: #757575;
    cursor: pointer;
    pointer-events: inherit;
    font-family: Outfit, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    padding: 12px 30px;
    border-radius: 6px;
}





.call-button2{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: #286851;
    border-color: #286851;
    color: #fff;
    cursor: pointer;
    pointer-events: inherit;
    font-family: Outfit, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    padding: 12px 30px;
    border-radius: 6px;
}


/* Filter  */
.expertise-section{
    cursor: pointer;
}
.filter-checkbox1{
    /* display: none; */
}

.expertise-section1{
    cursor: pointer;
}
.filter-checkbox2{
    display: none;
}


.expertise-down-arrow{
    display: block;
}

.expertise-right-arrow{
    display: none;
}



.expertise-section{
    margin-top: 20px;
    display: flex;
    gap: 60px;
    /* justify-content: center; */
    align-items:center;
    margin-bottom: 15px;
}

.expertise-down-arrow1{
    display: none;
}

.expertise-right-arrow1{
    display: block;
}
.expertise-section1{
    /* margin-top: 20px; */
    display: flex;
    gap: 60px;
    /* justify-content: center; */
    align-items:center;
    margin-bottom: 15px;
}


/* filter check box */

.filter-checkbox1 {
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    padding: 10px;
    /* margin-bottom: 40px; */
    /* padding-bottom: 40px; */
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    width: 200px;
}

.filter-checkbox1 label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    margin-bottom:26px;
}

.filter-checkbox1 input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* .filter-checkbox1 label:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
} */



.filter-checkbox2 {
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    padding: 10px;
    margin-bottom: 40px;
    /* padding-bottom: 40px; */
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    width: 200px;
}

.filter-checkbox2 label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    margin-bottom:26px;
}

.filter-checkbox2 input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* .filter-checkbox1 label:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
} */




/* Banner Section  */

.advisorsBanner{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 5px rgba(184, 173, 173, 0.2);
}

.advisorsBannerImage{
max-width: 1280px;

}


/* Phone number */

.phone-input-wrapper {
    display: flex;
    /* margin-top: 10px; */
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.phone-input-container-div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.send-sms-button {

    background-color: #286851;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 0;
    border-radius: 4px;
    outline: none;
    font-weight: 700;
    text-transform: none;
    flex-grow: 0;
    /* Prevents the button from growing */
    width: 130px;
    height: 50px;
}

.send-sms-button:hover{
  background-color: #286851;
}


/* Telephone input */
.phone-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
    padding-left: 0;


}

.phone-input {
    display: flex;
    align-items: center;

}

.country-code {
    background-color: transparent;
    padding: 15.5px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

input[type="tel"] {
    padding: 17px;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    background-color: transparent;
}

input[type="tel"]:focus {
    border-color: #007BFF;
}


.phone-input-wrapper>h1{
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
    line-height: 28px;
    color: #000;
    width: 300px;
}




/* Chat Pop Up */


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




































.advisorsPopUp{
  position: fixed;
  /* bottom: 40px; */
  /* right: 80px; */
  top: 10px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  /* opacity: 0.4; */
  display: none;
}


.chatPopUp {
  position: fixed;
  bottom: 10px;
  right: 430px;
  /* left: auto; */
  width: 450px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.closePopUp {
  position: relative;
  /* bottom: 90px; */
  /* right: 460px; */
  left: 138px;
  top: 0px;
  cursor: pointer;
  font-size: 18px;
  z-index: 900;
}

.chatPopUp h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.chatPopUp p {
  font-size: 14px;
  margin-bottom: 10px;
}

.details_tab ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.details_tab ul li {
  margin-right: 10px;
}

.details_tab ul li button {
  text-decoration: none;
  border: 1px solid #999;
  padding: 10px 20px;
  border-radius: 2px;
  color: #333;
  font-size: 14px;
  background: #fff;
}

.details_tab ul li button:hover {
  background: #286851;
  color: #fff;
}

.dob_input {
  margin: 8px 6px 8px 0;
  padding: 6px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  border-radius: 3px;
  color: #999;
}

.gender_selection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.dob_selection, .time_selection {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.partnerLable{
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
  margin-left: 4px;
}
.time_unsure {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  justify-content: space-between;
}
.time_unsure>p{
  font-weight: bold;
  margin-bottom: 13px;
}
.chatPopUp button {
  background-color: #286851;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;

}

.chatPopUp button:hover {
  background-color: #45a049;
}

.chatPopUp .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.chatPopUp .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.chatPopUp .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.chatPopUp .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.chatPopUp input:checked + .slider {
  background-color: #286851;
}

.chatPopUp input:checked + .slider:before {
  transform: translateX(14px);
}
.shareDetails{
  font-size: 32px;
  /* color: #737373; */
    margin-bottom: 5px;
    text-align: center;
}
.dob{
  color: #737373;
    margin-bottom: 5px;
    font-size: 18px;

}
.tBirth{
  color: #737373;
  margin-bottom: 5px;
  font-size: 18px;
}
@media screen and (max-width: 760px) {
  .chatPopUp {
    width: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
  }

  .details_tab ul {
    flex-direction: column;
  }

  .details_tab ul li {
    margin-bottom: 10px;
  }

  .dob_selection, .time_selection {
    flex-direction: column;
  }

  .dob_input {
    width: 100%;
    margin-bottom: 10px;
  }
}




#partnerDetails{
  display: none;
}


