* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: inherit;
  }

  html {
    box-sizing: border-box;
  }

  .login-hover {
    display: none;
    position: absolute;
    top: 52px;
    right: 40px;
    font-weight: 700;
    background-color: #e6e6e6;
    border: 2px solid #f0f0f5;
    border-bottom: 3px solid black;
    z-index: 3;
    height: 134px;
  }

  .userProfileDiv{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    /* gap: 0; */
  }

  .user-profile {
    cursor: pointer;
    /* align-self: baseline; */
    /* text-align: center; */
  /* align-content: center; */
  }

  .login-hover > ul {
    list-style: none;
    text-align: center;
  }

  .login-hover > ul > li {
    margin: 12px 20px;
    cursor: pointer;
    font-size: 13px;
    color: #17253d;
  }

  /* .user-profile:hover + .login-hover , .login-hover:hover {

display: block;
cursor: pointer;
} */

  .pop-up-register {
    /* position: fixed; */
    width: 90vw;
    height: 100vh;
    /* background-color: rgba(184, 187, 217, 0.8); */
    left: 0;
    top: 0;
    overflow: hidden;
    /* display: none; */
    /* z-index: 1000; */
  }

  .alternateLogin {
    /* text-align: center; */
    display: flex;
    justify-content: center;
  }

  .pop-up-register-show {
    display: block;
  }

  #pop-up .pop-up-register-form-div {
    position: absolute;
    width: 500px;
    height: 450px;
    background-color: #fff;
    z-index: 2000;
    left: 50%;
    padding: 30px;
    margin-top: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b8bbd9;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(184, 173, 173, 0.2);
    /* Horizontal offset, Vertical offset, Blur radius, Color */
    opacity: 1;
  }

  #pop-up .pop-up-register-form-div > h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #30343e;
    font-weight: 500;
  }

  form {
    padding: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #30343e;
    font-weight: 500;
  }

  input[type="email"],
  input[type="phone"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    /* color: #30343e; */
    /* font-weight: 500; */
  }

  button:hover {
    background-color: #0056b3;
  }

  .otp-container {
    display: flex;
    /* visibility: hidden; */
    display: none;
   margin-left: auto; 
   margin-right: auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .otp-container>h4{
    text-align: left;
    margin-bottom: 10px;
    color: #30343e;
    font-weight: 500;
  }

  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .otp-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  .terms-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 10px;
    margin-bottom: 20px; */
  }

  .terms-container input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .terms-container label {
    font-size: 14px;
    margin-bottom: 20px;
    color: #67717e;
    font-weight: 400;
  }

  .resend-otp {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-left: auto;
    /* float: right; */
    cursor: pointer;
    color: #30343e;
    font-weight: 500;
  }

  .resend-otp > a:hover {
    text-decoration: underline;
    color: #14bef0;
  }

  .terms-and-resend {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* margin-top: 10px;
    margin-bottom: 20px; */
    /* gap: 30px; */

    /* visibility: hidden; */
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  /* body{

padding-left: 40px;
padding-right: 40px;
} */

  header {
    position: sticky;
    top: 0;
    background-color: #fff;
    /* padding-top: 20px; */

    z-index: 3000;
    padding-left: 40px;
    padding-right: 40px;
    height: 54px;
  }
.anchorLogo{
  align-self: center;
}

.logoImage{
  height: 44px;
  width: 100px;
  margin-bottom: -3px;
}
  .navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    /* padding-bottom: 20px; */
  }

  .login-signup-button {
    font-size: 13px;
    line-height: 13px;
    color: #737382 !important;
    border-radius: 4px;
    border: solid 1px #d3d3d3;
    padding: 8px 10px;
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
  }

  .login-signup-button:hover {
    color: #007bff !important;
    border: solid 1px #007bff;
  }

  hr {
    border: 1px solid #f0f0f5;
    border-radius: 0px;
  }

  .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-bottom: 16px;
    padding-top: 16px;
   
  }

  .logo-container > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .logo-container > ul > li {
    padding-left: 20px;
  }

  .logo-container > ul > li > a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #2d2d32;
    letter-spacing: -0.3px;
  }

  /* .circle-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
  } */

  .menu-container {
    display: flex;
    /* padding-bottom: 13.5px;
    padding-top: 13.5px; */
  }

  .menu-container-parent {
    display: flex;
    align-items: center;
  }

  .corporates-dropdown {
    display: flex;
    /* justify-content: flex-end; */
    flex-shrink: 1;
  }

  .corporates-dropdown > select {
    font-size: 0.8em;
    border: transparent;
    cursor: pointer;

    width: 72%;
  }

  .corporates-dropdown > select:focus {
    outline: none;
  }

  .providers-container {
    display: flex;
    justify-content: flex-start;
  }

  .providers-container > select {
    font-size: 0.8em;
    border: transparent;
    cursor: pointer;
    width: 60%;
  }

  .providers-container > select:focus {
    outline: none;
  }

  .security-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 25px;
  }

  .security-container > select {
    font-size: 0.8em;
    border: transparent;
    cursor: pointer;
  }

  .security-container > select:focus {
    outline: none;
  }
  .corporates-container {
    display: flex;
  }

  .New {
    background: #28328c;
    color: white;
    border-radius: 8px;
    padding: 4px 6px 4px 6px;
    font-size: 10px;
    align-self: center;
    margin-right: 4px;
    margin-top: 0px;
  }
  
.corporates-container {
  display: flex;
  justify-content: center;

}
  .hamburger {
    display: none;
  }

  /* Mega Menu */

  .mega-menu {
    display: flex;
    gap: 120px;
    /* Adjust the gap between columns as needed */
    padding: 20px;
    justify-content: center;
    z-index: 500000;
  }

  .mega-menu-column > ul > li {
    list-style: none;
    padding: 20px;
  }

  .mega-menu-column {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu-section {
    display: none;
    /* position: absolute; */
    position: fixed;
    top: 52px;
    width: 1278px;
    height: 300px;
    background-color: #ffffff;
    z-index: 6000000;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .menu-section:hover {
    display: block;
  }

  .item1-submenu {
    position: absolute;
    top: 10px;
    left: 286px;
    height: 290px;
    width: 750px;
    background-color: #f0f0f5;
    /* background-color: #007BFF; */
    z-index: 10000;
    display: none;
    padding: 10px;
    text-align: center;
  }

  .item1-submenu > ul {
    list-style: none;
  }

  .item1-submenu > ul > li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #787887;
  }

  .item1-submenu:hover {
    display: block;
  }

  .item2-submenu {
    position: absolute;
    top: 10px;
    left: 286px;
    height: 290px;
    width: 710px;
    background-color: #f0f0f5;
    /* background-color: #007BFF; */
    z-index: 10000;
    display: none;
    padding: 10px;
    text-align: center;
  }

  .item2-submenu > ul {
    list-style: none;
  }

  .item2-submenu > ul > li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #787887;
  }

  .item2-submenu:hover {
    display: block;
  }

  .item3-submenu {
    position: absolute;
    top: 10px;
    left: 286px;
    height: 290px;
    width: 710px;
    background-color: #f0f0f5;
    /* background-color: #007BFF; */
    z-index: 10000;
    display: none;
    padding: 10px;
    text-align: center;
  }

  .item3-submenu > ul {
    list-style: none;
  }

  .item3-submenu > ul > li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #787887;
  }

  .item3-submenu:hover {
    display: block;
  }

  .row {
    display: flex;
    gap: 60px;
  }

  .mega-menu-column > hr {
    /* border: 2px solid red; */
    border: 1px solid #14bef0;
    border-radius: 0px;
  }

  .mega-menu-column > ul > li {
    border-bottom: 1px solid #787887;
  }

  .mega-menu-column > h3 {
    padding-bottom: 10px;
    color: #2d2d32;
  }

  .submenu-header-div {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }

  .submenu-header-image {
    height: 60px;
    width: 60px;
    /* border-radius: 50%; */
    object-fit: cover;
  }

  .submenu-header-right-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 100%; */
  }

  .submenu-header-right-div > h3 {
    color: #2d2d32;
  }

  .submenu-header-right-div > p {
    color: #2d2d32;
  }

  /* Footer Setion */
  .footer-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .footer-section {
    min-width: 1260px;
    background-color: #28328c;
    padding: 48px 0;
    color: #fff;
    font-size: 14px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-list {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 20px;
  }

  .footer-item {
    padding-bottom: 5px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-copyright {
    font-size: 14px;
    font-weight: 700;
    color: #b8bbd9;
  }



  .loginOptions {
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.loginOption {
text-align: center;
color: #67717e;
font-weight: 400;
font-size: 14px;
padding-bottom: 12px;
}

.emailLogin img {
/* Specific styles for email login */
height: 30px;
width: 30px;
object-fit: cover;
}

.facebookLogin img {
/* Specific styles for Facebook login */
height: 30px;
width: 30px;
object-fit: cover;
}

.googleLogin img {
/* Specific styles for Google login */
height: 30px;
width: 30px;
object-fit: cover;
}

.accounts{
margin-top: 20px;
display: flex;
justify-content: center;
/* flex-wrap: wrap-reverse */
/* align-content: center; */
gap: 80px;
font-size: 14px;
color: #3ba5e0;
line-height: 1.2;
}

.dealerAccount{
align-self: flex-end;
}


.alternateLogin{
color: #a2adbd;
font-size: 14px;
text-align: center;
line-height: 1.4;
/* margin-top: 20px; */
}

.alternateLogin>hr{
border: none;
        border-top: 2px dashed #a2adbd; /* Adjust color and thickness as needed */
        margin: 0px 5px; 
        width: 120px;
        align-self: center;
        
}

  .mobile-content {
    display: none;
  }

 
  .hamburger {
    font-size: 24px;
    cursor: pointer;
  }
  .logo-container img {
    max-width: 100px;
  }

  .logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* padding-bottom: 16px; */
    /* padding-top: 16px; */
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .menu-container {
    display: flex;
    /* padding-bottom: 13.5px;
    padding-top: 13.5px; */


}
  .menu-container select,
  .login-signup-button {
    margin: 10px 0;
  }
  .login-signup-button {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    transition: all 0.3s ease;
  }
  .login-signup-button:hover {
    background-color: transparent;
    border-color: skyblue;
    color: skyblue;
  }


  















