.container {
    display: flex;
    width: 100%;
}

.left-section {
    width: 17%;
    padding: 20px;
    border-right: 1px solid #ddd;
    padding-right: 5px;
    height: 85%;
    position: fixed;
    left: 16px;
}
.left-section>h2{
    /* margin: 20px; */
    margin-bottom: 10px;
  
    font-size: 18px;
}
.right-section {
    margin-left: 15%;
    width: 85%;
    padding: 20px;
}

.filter button {
    display: block;
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    margin-top: -5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: black;
}
.filter button:hover{
    background-color: #cddce7;
}
.accordion-item {
    border-bottom: 1px solid #ddd;
    /* margin-bottom: 10px; */
    border-radius: 4px;
}

.accordion-header {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* background-color: #f1f1f1; */
    font-weight: bold;
    /* border-bottom: 1px solid #ddd; */
}

.accordion-header-fixed{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f1f1f1;
    font-weight: bold;
    height: 48px;
    border-bottom: 1px solid #ddd;
    /* gap: 124px; */
    /* width: 200px; */
}

.accordion-header span {
    margin-right: 10px;
}

.accordion-header .icon {
    font-weight: bold;
    font-size: 20px;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fafafa;
}

.order-item {
    display: flex;
    align-items: center;
}

.order-image {
    width: 50px;
    margin-right: 15px;
}

.order-actions {
    display: flex;
    margin-top: 10px;
}

.order-actions button {
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
}

.accordion-item.active .icon {
    /* Minus to Plus */
    font-size: 20px;
}



@media only screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .left-section{
        width: auto;
        position: static;
        padding: 4px;
    }

    .filter{
        display: flex;
        /* border-radius: 0; */
    }

    .filter-btn{
        border-radius: 0%;
    }
    .right-section{
        margin-left: 0;
        width: 100%;
        padding: 2px;
    }

    .accordion-header{
        font-size: 13px;
    }
    .accordion-header-fixed{
        font-size: 14px;
    }
}