.container {
    display: flex;
    width: 100%;
}

.left-section {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
    position: fixed;
    left: 0;
}
.left-section>h2{
    /* margin: 20px; */
    margin-bottom: 10px;
}
.right-section {
    margin-left: 30%;
    width: 70%;
    padding: 20px;
}

.filter button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

.accordion-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f1f1f1;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.accordion-header-fixed{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f1f1f1;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    /* gap: 124px; */
    /* width: 200px; */
}

.accordion-header span {
    margin-right: 10px;
}

.accordion-header .icon {
    font-weight: bold;
    font-size: 20px;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fafafa;
}

.order-item {
    display: flex;
    align-items: center;
}

.order-image {
    width: 50px;
    margin-right: 15px;
}

.order-actions {
    display: flex;
    margin-top: 10px;
}

.order-actions button {
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
}

.accordion-item.active .icon {
    /* Minus to Plus */
    font-size: 20px;
}