.containerE {
    display: flex;
    width: 100%;
    height: 400px;
    background: linear-gradient(100deg, #75b59e -3.63%, #fbc687 101.68%);
}

.divStyleMainE {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0;
    max-width: 624px;
    margin-left: 153px;
}

.divStyleH1E {
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 40px;
}

.divStyleFlexE {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.divStyleCircleE {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #286851;
    color: #fff;
}

.divStyleE {
    background-image: url(../assets/images/4.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}

@media (max-width: 768px) {
    .containerE {
        flex-direction: column;
        height: auto;
    }

    .divStyleMainE {
        margin-left: 0;
        max-width: 100%;
        padding: 20px;
    }

    .divStyleE {
        width: 100%;
        height: 300px;
    }
    
    .divStyleH1E {
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    .divStyleMainE {
        padding: 10px;
    }

    .divStyleE {
        height: 200px;
    }

    .divStyleH1E {
        font-size: 26px;
    }
}

.divStyle {
    background-image: url(../assets/images/bannerServices.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

@media (max-width: 768px) {
    .divStyle {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .divStyle {
        height: 200px;
    }
}

.divStyle2 {
    width: 40%;
    padding-top: 80px;
    margin-left: 106px;
}

@media (max-width: 768px) {
    .divStyle2 {
        width: 60%;
        margin-left: 50px;
    }
}

@media (max-width: 480px) {
    .divStyle2 {
        width: 80%;
        margin-left: 20px;
        padding-top: 40px;
    }
}

.divStyle2H {
    text-align: left;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -1.5px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .divStyle2H {
        font-size: 38px;
        line-height: 40px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .divStyle2H {
        font-size: 32px;
        line-height: 40px;
    }
}

.divStyle2P {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .15px;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    .divStyle2P {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 5px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .divStyle2P {
        font-size: 14px;
        line-height: 20px;
    }
}

.divStyle2Btn {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    box-shadow: none;
    width: 50%;
    outline: none;
    padding: 14px 5px;
}

@media (max-width: 768px) {
    .divStyle2Btn {
        width: 70%;
        padding: 12px 4px;
        text-align: center;
    }

    .combineDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.serviceCards {
    display: flex;
}

.card-containerR {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    outline: none;
    justify-content: center;
}


